body {
background-color: #D4F8D8;
display:flex;
align-items:center;
justify-content:center;
}
h3 {

    width: 350px;
    height: 130px;
    margin: auto;
    top: 10px;
    font-family: Acme;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 152px;
    color: #65CD41;
}
.registration-cssave form h4 {

    width: 350px;
    height: 130px;
    margin: 0 auto;
    
    font-family: Acme;
    font-style: normal;
    font-weight: normal;
    font-size: 105px;
    line-height: 152px;
    color: #65CD41;
    padding: 0 50px;

}
.registration-cssave form h5 {

    width: 350px;
    height: 130px;
    margin: 0 auto;
    text-align: center;
    font-family: Acme;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 152px;
    color: #65CD41;
    padding: 0 50px;

}
p {
    
    position: absolute;
    width: 1058px;
    height: 217px;
    margin: auto; 
    top: 35%;
    font-family: Trebuchet MS;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    line-height: 42px;
    color: #5EA76E;
   
}
button1 {
    position: absolute;
width: 350px;
height: 80px;
left: 165px;
top: 75%;


font-family: Trebuchet MS;
font-style: italic;
font-weight: bold;
font-size: 30px;
line-height: 39px;

background: #8EDEA4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 44px;
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
justify-content: center;
}
button2 
{
    position: absolute;
width: 350px;
height: 80px;
left: 800px;
top: 75%;

font-family: Trebuchet MS;
font-style: italic;
font-weight: bold;
font-size: 30px;
line-height: 39px;

background: #8EDEA4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 44px;
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
justify-content: center;
}


.registration-cssave{
    margin: 0 auto;
   
    align-items: center;
  }
  
  .registration-cssave form {
    margin: 0 auto ;
    max-width:800px;
    
    align-items: center;
   
  }
  
  
  .registration-cssave .item {
    background: #DEFAE1;
    border: 1px solid #185031;
    box-sizing: border-box;
    border-radius: 44px;
    align-items: center;
    margin: 5% 18%;
    padding:10px 55px;
  }
  .registration-cssave .enter-account {
    box-sizing: border-box;
    padding:10px 20px;
    font-family: Trebuchet MS;
font-style: italic;
font-weight: bold;
font-size: 25px;
line-height: 39px;
text-align: center;
align-items: center;

    background: #8EDEA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    margin: 10% 34%;
  }
  .registration-cssave .enter-account:hover {
    opacity: 0.8;
  }
  .registration-cssave .create-account {
    box-sizing: border-box;
    padding:10px 20px;
    font-family: Trebuchet MS;
font-style: italic;
font-weight: bold;
font-size: 25px;
line-height: 39px;
text-align: center;
align-items: center;

    background: #8EDEA4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
    margin: 10% 14%;
  }
  .registration-cssave .create-account:hover {
    opacity: 0.8;
  }
  @media (max-width: 576px) {
    .registration-cssave form {
      padding:50px 20px;
    }
  }