
        <!DOCTYPE html>
        <html>
            <head>
                <link rel="stylesheet" href="css/styles.css">
                <title>enter</title>
            </head>
            <body> 
                
        
                <div class="registration-cssave">
            <form>
                <h5 class="text-center" align="center"> Регистрация </h5>
                <div class="form-group">
                    <input class="form-control item" type="email" name="email" id="email" placeholder="Почта" required>
                </div>
                <div class="form-group">
                    <input class="form-control item" type="password" name="Пароль" minlength="6" id="password" placeholder="Пароль" required>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary btn-block create-account" type="submit"> Зарегистрироваться </button>
                </div>
            </form>
        </div>
                <script src="myscript.js"></script>
            </body>
            </html>

        <script src="myscript.js"></script>
    </body>
</html>