<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>enter</title>
    </head>
    <body> 
        

        <div class="registration-cssave">
    <form>
        <h4 class="text-center" align="center"> Вход </h4>
        <div class="form-group">
            <input class="form-control item" type="email" name="email" id="email" placeholder="Почта" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="password" name="Пароль" minlength="6" id="password" placeholder="Пароль" required>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary btn-block enter-account" type="submit" style="float:right;">Войти </button>
        </div>
    </form>
</div>
        <script src="myscript.js"></script>
    </body>
    </html>